body{
	background-color: green;
}

h1{
	font-family: "Georgia";
	text-align: center;
}

h2{
	font-family: "Georgia", serif;
	text-align: center;
}

h3{
	font-family: "Georgia";
}

p{
	line-height: 19px
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}